@use '_variables' as v;
@use '_reset';
@use '_mixins' as m;
@use '_utilities'; 
@use '_navMenu';
@use '_layout';

html {
    scroll-behavior: smooth;
}
//hero
body {
    background-color: #F2F2F2;
}

.hero {
    height: 90vh;
    .hero-container {
        width: 100%;
        height: 100%;
        @include m.flexCenter();
        flex-wrap: wrap;
        gap:20px;
      /*   flex-wrap: wrap; */

        .hero-desc {
            max-width: 500px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 30px;
            h2 {
                color:v.$secondary-color;
                font-size: v.$step-5;
            }
            p {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                gap: 30px;
                font-size: v.$step-0;
                color: rgb(102, 102, 102);
                img {
                    max-width: 70px;
                    width: 100%;
                }
            }
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 1.3rem;
                padding: 10px 20px;
                color: white;
                background-color: v.$third-color;
                border-radius: 10px;
                transition: all 0.1s ease;
                &:hover {
                    box-shadow: 1px 1px 5px black;
                }
            }
        }
        img {
            max-width: 600px;
            width: 100%;
            display: block;
        }

    }
}

.create-list {
    height: 50vh;
    width: 100%;
    margin: 5rem 0;
    background-color: #234eb2;
    @include m.flexColumn();
    gap: 20px;
    position: relative;
    p{
        text-align: center;
        color: #fff;
        font-size: v.$step-1;
        max-width: 650px;
    }
    form {
        @include m.flexCenter;
        position: relative;
        input {
            width: 270px;
            padding: 15px;
            border: none;
            border-radius: 8px 0 0 8px;
            &::placeholder {
                font-size: 1.1rem;
            }
            &:focus {
                outline: none;
            }
        }
        button {
            background-color: rgb(0, 165, 0);
            border: none;
            cursor: pointer;
            width: 45px;
            height: 100%;
            border-radius: 0 8px 8px 0;
            @include m.flexCenter();
            img {
                max-width: 30px;
                display: block;
                height: 100%;
            }
        }
        .empty-error, .coincidence-error{
            font-family: Arial, Helvetica, sans-serif;
            position: absolute;
            bottom: -94%;
            left: 4%;
            font-size: 1.2rem;
            border-radius: 0 0 10px 10px;
            padding: 10px;
            color: #fff;
            background-color: v.$third-color;
            transform: translateY(-5px);
            opacity: 0;
            pointer-events: none;
            transition: all 0.2s ease-in;
            &.appear {
                transform: translateY(0);
                opacity: 1;
            }
        
        }
    }
}

.card-containers {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    justify-items: center;
    align-items: start;
    gap: 40px;
    width: 100%;
    max-width: 100%;
    
  
   
    .card { 
        order: -1;
        max-width: 350px;
        width: 100%;
        box-shadow: 2px 3px 18px -6px #000000;
        border-radius: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
}

.card-body {
    border-bottom: 1px solid rgba(255, 0, 0, 0.171);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .resource-container {
        padding: 20px 20px;
        width: 100%;
        height: 100%;
        .link-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .name-icon-link {
                display: flex;
                justify-content: flex-start;
                width: 260px;
                gap:10px;
                a {
                 opacity: 0;
                 pointer-events: none;
                 display: inline-block;
                 text-decoration: none;
                 transform: translateX(10px);
                 transition: all 0.125s ease-in;
                 img {
                     display: block;
                     width: 30px;
                    }
                }
                h4 {
                    width: 200px;
                    font-size: v.$step-1;
                    overflow: hidden;
                    white-space: nowrap;
                    -o-text-overflow: ellipsis;
                    -ms-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }
            }
            .action-btns {
                @include m.flexCenter();
                gap:10px;
                button {
                    background-color: inherit;
                }
            }
        }
        p{
            overflow: hidden;
            margin: 20px 0;
        }
        &:hover {
            transition: all 0.150s ease-in;
            transform: translateY(-5px);
            background-color:rgb(255, 255, 255);
            border-top: 1px solid gray;
        }
        &:hover .name-icon-link a {
            opacity: 1;
            pointer-events: all;
            transform: translateX(0);
        }
    }
    
}

.resource-container {
    border-bottom: 1px solid gray;
}

.card-title {
    background-color: v.$third-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 10px 0 0;
 
    h3 {
        color: #fff;
        font-size: v.$step--1;
        font-weight: 500;
        padding: 20px 0;
    }
    button {
        background-color: inherit; 
        img {
            display: block;
            max-width: 35px;
            width: 100%;
        }
    }
}

.card-footer {
    order: 1;
    padding: 10px;
    border-top: 1px solid rgb(207, 207, 207)  ;
    button {
        color: gray;
        border: none;
        cursor: pointer;
    }
}

button {
    img{
        pointer-events: none;
    }
}

.input-popup {
    height: 100vh;
    @include m.flexCenter();
    background-color: rgba(0, 0, 0, 0.699);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.2s ease-in;
    form {
        max-width: 300px;
        width: 100%;
        position: relative;
        padding: 20px;
        text-align: center;
        background-color: v.$primary-color;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: v.$step--1;
            margin: 10px 0;
        }
        input, textArea {
            display: block;
            width: 100%;
            padding: 10px;
            margin: 5px;
            border: none;
            border-radius: 7px;
            resize: none;
            font-family: Arial, Helvetica, sans-serif;
            &:focus {
                outline: none;
        }
        }
        button {
            font-size: 1.1rem;
            margin-top: 10px;
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            background-color:#234eb2;
            border-radius: 7px;
        }
        .close-btn {
            position: absolute;
            top: -5px;
            right: 4px;
            border: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            background-color: inherit;
            cursor: pointer;
        }
    }
}

.show {
    opacity: 1;
    pointer-events: all;
 
}

@media only screen and (max-width:750px){
    .hero {
        padding-top: 20vh;
        min-height:110vh;
    }
}